*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 150vh;
  background-color: pink;
  font-family: sans-serif;
}

.heading {
  font-size: 50px;
}

.score {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  height: 25vh;
  display: flex;
  justify-content: center;
}

.computer-choice {
  width: 15rem;
  height: 15rem;
}

.user-choice {
  width: 15rem;
  height: 15rem;
  transform: rotateY(180deg);
}

.button-div {
  justify-content: center;
}

.button {
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: violet;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5rem;
}

.result {
  margin: 2rem;
}