*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: darkslategray;
  font-family: cursive;
  font-style: bold;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: lightgray;
}

.heading {
  font-size: 50px;
}

.score {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  top: 15rem;
  display: flex;
  justify-content: center;
}

.computer-choice {
  width: 15rem;
  height: 15rem;
}

.user-choice {
  width: 15rem;
  height: 15rem;
  transform: rotateY(180deg);
}

.button-div {
  justify-content: center;
}

.button {
  width: 150px;
  height: 50px;
  align-items: center;
  background-color: tan;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5rem;
  display: fixed;
  top: 50rem;
}

.result {
  margin: 1rem;
}